.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Basscss Colors */

.black {
  color: #111111;
}

.gray {
  color: #aaaaaa;
}

.silver {
  color: #dddddd;
}

.white {
  color: #ffffff;
}

.aqua {
  color: #7fdbff;
}

.blue {
  color: #0074d9;
}

.navy {
  color: #001f3f;
}

.teal {
  color: #39cccc;
}

.green {
  color: #2ecc40;
}

.olive {
  color: #3d9970;
}

.lime {
  color: #01ff70;
}

.yellow {
  color: #ffdc00;
}

.orange {
  color: #ff851b;
}

.red {
  color: #ff4136;
}

.fuchsia {
  color: #f012be;
}

.purple {
  color: #b10dc9;
}

.maroon {
  color: #85144b;
}

.color-inherit {
  color: inherit;
}

.muted {
  opacity: 0.5;
}
